#choices {
    text-align: center;
    margin: 10px;
}

#choices form {
    display: inline;
    margin: 30px;
}

iframe {
    height: 75%;
    text-align: center;
    width: 49%;
}

iframe#left {
    float: left;
}

iframe#right {
    float: right;
}

img.loading, img.success {
    display: none;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 50%;
}

table#results {
    float: left;
    margin: 0 7em 3em 0;
}

table td, table th {
    margin: 0;
    padding: 0.4em;
}

table td {
    border-bottom: 1px solid #eee;
}

table th {
    text-align: left;
    background-color: #eee;
}

table tr#total {
    background-color: #eee;
}

#query {
    text-align: center;
    padding: 2em;
    background-color: #eee;
}

#query input[type="text"] {
    width: 30em;
}
